/* Common style */

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Heading styles */
header {
    background: rgba(229, 84, 115, 0.10);
}

.header {
    max-width: 1440px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.heading-left {}

.heading-title {
    width: 708px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.header-description {

    width: 634px;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}

.header-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* Featured section style */
.featured-section {
    width: 1440px;
    text-align: center;
    margin: 100px auto;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.featurd-pra {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 40px auto;
}

.featured-flower-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
}

.flower-cart1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 10px;
}

.flower-cart1 img {
    padding-top: 107px;
}

.flower-cart2 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 10px;
}

.flower-cart2 img {
    padding-top: 107px;
}

.flower-cart3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.flower-cart3 img {
    padding-top: 66px;
}

.flower-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 35px;

}

/* service style */
.our-services {
    width: 1440px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    align-items: center;

}

.service img {
    width: 88px;
    height: 88px;
}

.service-name {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.a-line {
    width: 1440px;
    margin: auto;
    color: rgba(39, 39, 39, 0.05);
}


/* Best selling product */
.best-selling-flowers {
    width: 1440px;
    margin: auto;
    text-align: center;
}

.best-selling-item-container {
    display: flex;
    justify-content: space-between;
}

.selling-part-header {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    word-spacing: 2px;
    margin-top: 15px;
}

.best-selling-item-container {
    margin: 45px auto;
}

.best-selling {
    font-size: 70px;
    color: red;
}

.bestselling-items-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 35px;
}

.need-bg {
    background: rgba(71, 125, 17, 0.15);
    width: 342px;
    height: 396px;
}

.need-bg img {
    width: 342px;
    height: 396px;
}

/* offer section style */
.hot-offer {
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.offer-section {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* text-align: center; */
    margin: auto;
}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-description {
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px auto;
}

.section-left {
    text-align: center;
    margin: auto;
}

.section-right {
    width: 40%;

}

.section-right img {
    width: 318px;
    height: 420px;
    padding: 100px 0;
}

.sinup-btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    border: none;
}

.off {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

/* instragram section style */
.instragram-section {
    width: 1440px;
    text-align: center;
    margin: 60px auto;
}

.instra-section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.instra-sec-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 665px;
    margin: 20px auto;
}

.insta-flower-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* subscribe section style */

.Subscribe-section {
    border-radius: 8px;
    background: url("./Flower Asset/Rectangle 9.png"), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    margin: 130px auto;
    text-align: center;
    align-items: center;
}

.sub-sec-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
    padding-bottom: 20px;
}

.subscription-facalities {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}

.Subscribe-section input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin: 15px auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
}

.subscribe-btn {
    border-radius: 8px;
    background: #E55473;
    width: 150px;
    height: 64px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* footer section style */
footer {
    height: 449px;
    background: #111010;
    color: white;
    text-align: center;
}
.footer{
    width: 1440px;
    margin: auto;
}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top: 122px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    margin:15px auto;
}
.copyright-section{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}
.shop{
    color: white;
}
/* footer section finished */